[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==8.0.1"
factory-boy = "==3.2.1"
pytest-django = "==4.5.2"

[packages]
django = "==4.0.1"
djangorestframework = "==3.13.1"
django-cors-headers = "==3.11.0"
psycopg2 = "==2.9.3"
celery = "==5.2.3"
django-celery-beat = "==2.1.0"
redis = "==4.1.2"
hiredis = "==2.0.0"
flower = "==1.2.0"
uvicorn = {version = "==0.18.2", extras = ["standard"]}
gunicorn = "==20.1.0"
supervisor = "==4.2.4"

[requires]
python_version = "3.9"
