[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.100.0"
fastapi-limiter = "==0.1.5"
pydantic = "==2.1.1"
pydantic-settings = "==2.0.2"
python-dotenv = "==1.0.0"
redis = {version = "==4.6.0", extras = ["hiredis"]}
uvicorn = {version = "==0.23.1", extras = ["standard"]}
gunicorn = "==21.1.0"
supervisor = "==4.2.5"

[dev-packages]
pytest = "==7.4.0"
ipython = "==8.14.0"
httpx = "0.24.1"
trio = "==0.22.2"

[requires]
python_version = "3.11"
